<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ceaf6a">  <td>17/10/08 16:01:43</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMainMethod()[pri:0, instance:com.scorm.testscript.VerifyCourseLesson@2833cc44]">&lt;&lt;afterMainMethod</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1728790703</td>   <td>674483268 </td> </tr>
<tr bgcolor="ceaf6a">  <td>17/10/08 15:59:21</td>   <td>-141282</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUp()[pri:0, instance:com.scorm.testscript.VerifyCourseLesson@2833cc44]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1728790703</td>   <td>674483268 </td> </tr>
<tr bgcolor="ceaf6a">  <td>17/10/08 16:01:43</td>   <td>23</td> <td title="&lt;&lt;BaseTest.tearDownSuite()[pri:0, instance:com.scorm.testscript.VerifyCourseLesson@2833cc44]">&lt;&lt;tearDownSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1728790703</td>   <td>674483268 </td> </tr>
<tr bgcolor="83b5a8">  <td>17/10/08 16:00:01</td>   <td>-102023</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VerifyCourseLesson.verifyCourseLesson()[pri:0, instance:com.scorm.testscript.VerifyCourseLesson@2833cc44]">verifyCourseLesson</td> 
  <td>main@1728790703</td>   <td>674483268 </td> </tr>
</table>
