<h2>Reporter output</h2><table><tr><td></br>Change appliation language to English</td></tr>
<tr><td></br>Login with user name adeebk1@updoertechnology.com and password 360Logic@</td></tr>
<tr><td></br>verify user login succesfully</td></tr>
<tr><td></br>Click on Administrator Tab</td></tr>
<tr><td></br>Click on Course Link</td></tr>
<tr><td></br>Find Course name</td></tr>
<tr><td></br>Click on Modify button</td></tr>
<tr><td></br>Click on Lessons</td></tr>
<tr><td></br>Click on Modify button</td></tr>
<tr><td></br>Enter Lesson Details</td></tr>
<tr><td></br>Click on save button</td></tr>
<tr><td></br>Verify Save lesson message</td></tr>
<tr><td></br>Click on Last breadcum</td></tr>
<tr><td></br>Click on New Online Lesson</td></tr>
<tr><td></br>Enter Lesson Details</td></tr>
<tr><td></br>Select Package</td></tr>
<tr><td></br>Click on save button</td></tr>
<tr><td></br>Verify Save lesson message</td></tr>
<tr><td></br>Click on Last breadcum</td></tr>
<tr><td></br>Enter Lesson Details</td></tr>
<tr><td></br>Click on save button</td></tr>
<tr><td></br>Logout from application</td></tr>
</table>